.section {
  padding-bottom: 302px;
  background-image: url('../images/macys_png.png'), -webkit-gradient(linear, left top, left bottom, from(#0003ff), to(#0003ff));
  background-image: url('../images/macys_png.png'), linear-gradient(180deg, #0003ff, #0003ff);
  background-position: 50% 50%, 0px 0px;
  background-size: 125px, auto;
  background-attachment: fixed, scroll;
}

.hero-container {
  margin-top: 152px;
  text-align: center;
}

.h1 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 3.7em;
}

.h3 {
  color: hsla(0, 0%, 100%, .73);
  font-size: 1.4em;
}

.body {
  background-color: #f1f1f1;
  color: #000;
}

.primary-container {
  margin-top: -135px;
  padding-top: 32px;
  padding-bottom: 22px;
  border-bottom: 2px solid #0002fc;
  background-color: #fff;
  box-shadow: 0 1px 50px 0 rgba(0, 0, 0, .15);
}

.highfive-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.h2 {
  display: block;
  margin-right: auto;
  margin-bottom: 44px;
  margin-left: auto;
  font-size: 1.3em;
  text-align: center;
}

.separator {
  height: 2px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #d6d6d6;
  color: #8b8b8b;
}

.chat-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 92px;
  border-radius: 4px;
  background-color: #0002fc;
  font-size: 1.5em;
  font-weight: 700;
}

.chevron {
  display: block;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
}

.credentials {
  padding-right: 32px;
  padding-left: 32px;
}

.text-field {
  height: 48px;
  margin-bottom: 24px;
  border: 2px solid #0002fc;
  border-radius: 4px;
}

.text-field:active {
  border-width: 2px;
  box-shadow: inset 0 0 0 2px rgba(0, 2, 252, .3);
}

.textarea {
  border: 2px solid #0002fc;
  border-radius: 4px;
  line-height: 20px;
}

.field-label {
  font-size: 1.2em;
}

.column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  display: none;
}

.contract-terms {
  padding-right: 32px;
  padding-left: 32px;
}

.success-container {
  margin-top: 32px;
  padding: 12px 32px 44px;
  border-bottom: 2px solid #0002fc;
  background-color: #fff;
}

.centered {
  padding-right: 64px;
  padding-left: 64px;
  text-align: center;
}

.notifification-h1 {
  margin-top: 0px;
  font-size: 2.8em;
  font-weight: 700;
}

.notification-paragraph {
  margin-top: 12px;
  color: rgba(0, 0, 0, .55);
  font-size: 1.5em;
  font-weight: 700;
}

.bold-text-2 {
  font-size: 0.6em;
  line-height: 0.7em;
}

.bold-text-3 {
  font-size: 0.9em;
  line-height: 1.2em;
}

.check-mark-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.notification-icon-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.rejection-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.promise-content {
  margin-top: 24px;
  padding: 4px 24px 32px;
  background-color: #0002fc;
  color: #fff;
}

.email-accept-button {
  display: block;
  margin: 24px auto 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #379535;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.email-container {
  padding: 32px 16px;
  border-top: 4px solid #0002fc;
}

.email-h1 {
  font-size: 1.8em;
}

.email-paragraph {
  margin-top: 24px;
  font-size: 1.6em;
  line-height: 1.4em;
  font-weight: 400;
}

.email-reject-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #cf2b51;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.div-block-2 {
  margin-top: 36px;
}

.bold-text-4 {
  font-weight: 400;
}

.promise-success {
  margin-top: 24px;
  padding: 4px 24px 32px;
  background-color: #379535;
  color: #fff;
}

.link {
  font-size: 1.6em;
}

.div-block-3 {
  margin-top: 32px;
  padding: 2px 24px 24px;
  background-color: #f2f2f2;
}

.hash-itself {
  color: #737373;
  font-weight: 400;
  word-break: break-all;
}

.div-block-4 {
  margin-top: 24px;
  word-break: break-all;
}

html.w-mod-js *[data-ix="high-five-wiggle"] {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="high-five-wiggle-repeat"] {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="promise-wiggle-repeat"] {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="zoom-and-scale"] {
  opacity: 0;
  -webkit-transform: scale(0.69, 0.69);
  -ms-transform: scale(0.69, 0.69);
  transform: scale(0.69, 0.69);
}

@media (max-width: 991px) {
  .image {
    display: none;
  }
  .notifification-h1 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }
  .chevron {
    display: none;
  }
  .image {
    display: block;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }
  .notification-section {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 479px) {
  .credentials {
    padding-right: 16px;
    padding-left: 16px;
  }
  .centered {
    padding-right: 0px;
    padding-left: 0px;
  }
  .bold-text-2 {
    line-height: 0.7em;
  }
  .email-h1 {
    line-height: 1em;
  }
}